@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Skranji&display=swap');

body{
    font-size: 20px;
    font-family: Open Sans, Times New Roman, sans-serif;
    padding: 0,0;
}

a {
    background-color: lightblue;
    color: rgb(71, 69, 69);
    text-decoration: none;
    padding: 10px; 
    margin: 5px; 
    text-align: center; 
}

a:hover {
    background-color: darkgray;
    color: white;
}

nav{
    display: flex; 
    justify-content: center;
    padding-top: 20px;
}

h1{ 
    font-family: Skranji;
    font-size: 2.5em;
    text-align: center;
}

img{
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 3px solid lightblue;
    padding-bottom: 20px;
    box-sizing: border-box;
}

p {
    /* text-align: center; */
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box
}

.background{
    background-color: #ccc;
}

#primary {
    background: pink;
}

footer p {
    background-color: lightblue;
    color: rgb(71, 69, 69);
    width: 100%; 
    text-align: center;
    
}