@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Satisfy&display=swap');

/* Start of Home CSS */
body{
    background-color: white;
    font-family: "Playpen Sans", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 150px auto;
    background-color: #e694ad;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color:black;
    text-align: center;
    text-decoration: none;
    padding: 50px;
}

nav a:hover{
    background-color: lightgray;
}

.logo{
    width: 120px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#title {
    text-align: center;
    font-family: "Satisfy", sans-serif;
    font-size: 50px;
    grid-column: 1/3;
    color: black;
    padding-top: 1em;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.long-dress{
    display: grid;
    grid-column: 1/2;
}

.long-img{
    width: 80%;
    margin: auto;
    padding-left: 4em;
}

.long-button{
    padding-left: 4em;
}

.short-dress{
    display: grid;
    grid-column: 2/3;
}

.short-img{
    width: 80%;
    margin: auto;
    padding-right: 4em;
}

.short-button{
    padding-right: 4em;
}

.long-button,.short-button{
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 75px;
}

.long-button:hover , .short-button:hover{
    color:#DA5870;
}

.msg{
    text-align: center;
    font-size: 30px;
    background-color: #DA5870;
    grid-column: 1/3;
}

footer{
    background-color: #e694ad;
    color: black;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: black;
    text-align: center;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

/* End of Home CSS */