@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Satisfy&display=swap');


/* Start of Home CSS */
body{
    background-color: #fff8f9;
    font-family: "Playpen Sans", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 150px auto;
    background-color: #e694ad;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color:black;
    text-align: center;
    text-decoration: none;
    padding: 50px;
}

nav a:hover{
    background-color: lightgray;
}

.logo{
    width: 120px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#title {
    text-align: center;
    font-family: "Satisfy", sans-serif;
    font-size: 50px;
    grid-column: 1/3;
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
}

#title h2{
    font-size: 20px;
    font-family: "Playpen Sans", sans-serif;
    margin-top: -75px;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.long-dress{
    display: grid;
    grid-column: 1/2;
}

.long-img{
    width: 80%;
    margin: auto;
    /* padding-left: 4em; */
    box-shadow: 5px 5px 10px black;
}

.short-dress{
    display: grid;
    grid-column: 2/3;
}

.short-img{
    width: 80%;
    margin: auto;
    /* padding-right: 4em; */
    box-shadow: 5px 5px 10px black;
}

.long-button,.short-button{
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 75px;
    font-size: 30px;
}

.long-button:hover , .short-button:hover{
    color:#DA5870;
}

.msg{
    text-align: center;
    font-size: 30px;
    background-color: #DA5870;
    grid-column: 1/3;
    padding-left: 100px;
    padding-right: 100px
}

footer{
    background-color: #e694ad;
    color: black;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: black;
    text-align: center;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

/* End of Home CSS */


/* Start of Long Dresses CSS */

.long-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-dress{
    grid-column: 1/3;
    text-align: center;
    padding-bottom: 75px;
}

.bg-img{
    width: 50%;
    box-shadow: 5px 5px 10px black;
}

.bg-dress p{
    font-size: 25px;
}

.black-dress{
    grid-column: 1/2;
    text-align: center;
    padding-bottom: 50px;
}

.black-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.black-dress p{
    font-size: 20px;
}

.grey-dress{
    grid-column: 2/3;
    text-align: center;
    padding-bottom: 50px;
}

.grey-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.grey-dress p{
    font-size: 20px;
}

.purple-dress{
    grid-column: 1/2;
    text-align: center;
}

.purple-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.purple-dress p{
    font-size: 20px;
}

.color-dress{
    grid-column: 2/3;
    text-align: center;
}

.color-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.color-dress p{
    font-size: 20px;
}

/* End of Long Dresses CSS */


/* Start of Short Dresses CSS */

.short-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.orange-dress{
    grid-column: 1/3;
    text-align: center;
    padding-bottom: 75px;
}

.orange-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.orange-dress p{
    font-size: 25px;
}

.gold-dress{
    grid-column: 1/2;
    text-align: center;
    padding-bottom: 50px;
}

.gold-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.gold-dress p{
    font-size: 20px;
}

.pink-dress{
    grid-column: 2/3;
    text-align: center;
    padding-bottom: 50px;
}

.pink-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.pink-dress p{
    font-size: 20px;
}

.white-dress{
    grid-column: 1/2;
    text-align: center;
    padding-bottom: 50px;
}

.white-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.white-dress p{
    font-size: 20px;
}

.blue-dress{
    grid-column: 2/3;
    text-align: center;
    padding-bottom: 50px;
}

.blue-img{
    width: 60%;
    box-shadow: 5px 5px 10px black;
}

.blue-dress p{
    font-size: 20px;
}

/* End of short Dresses CSS */